@import "../globals";

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: $borderMain;
    border-radius: $radiusL;
    padding: 0 2rem;
    width: 80%;
}

.HeaderTitle {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    font-family: $mono;
    font-weight: 600;

    h1 {
        font-family: $mono;
        width: 8ch;
        border-right: 2px solid $light;
        overflow: hidden;

        animation: blink 0.5s step-end infinite alternate,
            typing 1s steps(8, end);
    }

    h1:hover {
        border-right: 2px solid transparent;
    }

    span {
        color: $light;
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }
}

.HeaderLinks {
    height: fit-content;
    display: flex;
    column-gap: 1.5rem;

    li {
        opacity: 0;
        animation: linkIn ease-in-out 1s forwards;
    }

    a {
        display: block;
        width: 100%;
    }
}

.NavActive {
    list-style-type: disc;

    a {
        color: $light;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0%;
    }
    50% {
        width: 0%;
    }
    100% {
        width: 8ch;
    }
}

@keyframes linkIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
