@import "../globals";

.Index {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
}

.IndexContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    height: 100vh;
    width: 80vw;
    overflow: scroll;
    scrollbar-width: none;
}

.IndexContainer section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    scroll-snap-align: center;
    transition: all ease-in-out 0.5s;
}

.IndexContainer::-webkit-scrollbar {
    display: none;
}

.IndexHeading {
    color: $light;
    font-family: $sans;
    font-size: 1.75rem;

    opacity: 0;
    transform: scale(0.9);
    transition: all ease-in-out 0.5s;

    span {
        display: block;
    }

    span:nth-child(2) {
        margin-left: 6rem;
    }

    .Dots {
        color: $mid;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        margin-left: 0.5rem;
    }
}

.IndexCaption {
    font-size: 1.25rem;
    margin-top: 1rem;

    opacity: 0;
    transform: scale(0.9);

    .IndexCaptionP {
        margin-bottom: 1rem;
    }

    .IndexTechnologies {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2.5rem;
        fill: $light;
        stroke: $light;
        transition: $transNormal;
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .IndexTechnologiesIcon {
        opacity: 0;
        animation: iconIn ease-in-out 0.5s forwards;
    }

    .IndexTechnologies g {
        fill: $light;
        transition: $transNormal;
    }

    .IndexTechnologies svg:hover {
        fill: $mid;
        g {
            fill: $mid;
        }
    }
}

.IndexAbout {
    font-size: 1.25rem;

    margin-top: 2.5rem;

    opacity: 0;
    transform: scale(0.9);
}

.IndexAboutContent {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        fill: $light;
        stroke: $light;
        margin-right: 2rem;
        transition: $transNormal;
    }

    svg:hover {
        fill: $mid;
        stroke: $mid;
    }

    p span:nth-child(2) {
        margin-top: 0rem;
    }
}

.IndexHtml {
    margin-left: 0;
    color: $mid;
    font-size: 1.5rem;
    color: $blue;
}

.IndexHtml2 {
    display: block;
    width: fit-content;
    margin-left: auto;
    color: $mid;
    font-size: 1.5rem;
    color: $blue;
}

.Visible {
    opacity: 1;
    transform: scale(1);
}

@keyframes iconIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: $s) {
    .Index {
        display: flex;
        justify-content: center;
    }

    .IndexContainer {
        height: fit-content;
        margin-bottom: 4rem;
        width: 90vw;
    }

    .IndexHeading {
        margin-top: -3rem;
    }

    .IndexCaption {
        width: 90vw;
    }

    .IndexAboutContent {
        flex-direction: column;
        width: 90vw;
    }
}

@media only screen and (max-width: $xs) {
    .IndexHeading {
        font-size: 1.25rem;
        span:nth-child(2) {
            margin-left: auto;
        }
    }
}

@media only screen and (max-height: $hm) {
    .IndexContainer {
        height: fit-content;
        margin-bottom: 4rem;
    }
}
